:root {
    --nav-height: 100px;
}

.group {
    color: var(--cl-fg);
    font-size: large;
    text-transform: uppercase;
}

.itemDetail {
    border: solid 2px var(--cl-accent);
    color: var(--cl-accent);
    border-radius: 2px;
    display: grid;
    font-size: larger;
    font-weight: 100;
    min-height: 200px;
    place-items: center;
}

.itemList {
    display: grid;
    list-style: none;
    padding: 0;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
}
